*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
 
  flex-direction: column;
  height: 300vh;
}

.navBar h3{
  position: relative;
  left: 70rem;
  cursor: pointer;
}
.lbl{
  position: relative;
  left: 28px;
  
}
.navBar{
  position: fixed;
  z-index: 9999;
  top: 0;
  height: 100px;
  padding-bottom: 30px;
  background-color: rgb(32, 0, 32);
  color: white;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  width: 100%;
}

.navBar ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

}

.navBar ul li{
  margin-left: 50px;
  width: 100px;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  transition: .3s;
  text-decoration: none;
  color: white;
  
}

.navBar ul li:hover{
  color: rgb(128, 128, 128);
}

/* 

.mainPage h1{
  
  position: relative;
  right: 30px;
  color: red;
} */



.closeBtn{
  display: none;
  position: absolute;
  left: 20rem;
  
}


.programs .head{
  font-size: 30px;
}


.individualPlan{

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  width: 500px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 20px;
  border-radius: 14px;
}

.individualPlan h4{

  font-size: 30px;
}
.individualPlan h2{
  font-size: 20px;
}


/* .mainPage h1{
  position: relative;
  left: 100px;
  z-index: 999;
  font-size: 60px;
  color: rgb(243, 243, 243);
  width: 200px;
} */
@media only screen and (max-width: 1100px) {
  


  .firstSection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(0, 0, 0);
    font-size: 60px;
    background-attachment: fixed;
    background-image:  url("./pic/1.jpeg");
    background-color: brown;
    background-size: 60rem;
  }
  
  .firstSection h1{
    color: white;
    font-size: 40px;
  }

  .secondSection{
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    
  }
  
  .secondSection h3{
    font-size: 40px;
    position: relative;
    top: 70px;
    color: red;
    margin-bottom: 100px;
  }
  
  .secondSection form input {
    width: 300px;
    height: 70px;
    position: relative;
    left: 30px;
    bottom: 5px;
    padding: 30px;
    font-size: 20px;
  }
  input[type='radio'] {
    transform: scale(.4);
}

.secondSection input {
  display: flex;
}
  .secondSection form button{
  
    
      width: 100px;
      height: 40px;
      background-color: purple;
      color: white;
      font-size: 25px;
      border-radius: 7px;
      cursor: pointer;
      border: none;
      transition: .3s;
      position: relative;
    left: 30px;
  
  }
  
  .secondSection form button:hover{
    background-color: rgb(140, 0, 196);
    color: rgb(255, 255, 255);
  }


  .nav ul{
    width: 100%;
    transition: .3s;
  }
  
.unordered{
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 0, 32);
  justify-content: start;
  align-items: center;
  position: relative;
  left: 7rem;
  width: 200px;
  top: 250px;
  
}

.unordered li {
  font-size: 30px;
  border-top: 1px solid black;
  padding: 10px;
  display: flex;
  margin-right: 80px;
  
  
}

.closeBtn{
  display: block;
  position: absolute;
  left: 20rem;
}


/* Main page */


.mainPage{
  background-attachment: fixed;
  
  width: 100%;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
  background-size: 700px 1000px;
  background-repeat: no-repeat;

}

.mainPage h1{
  position: relative;
  left: 100px;
  z-index: 999;
  font-size: 60px;
  color: white;
  width: 700px;
}

.mainPage button{
  z-index: 999;
  position: relative;
  right: 3rem;
  top: 20rem;
  
  height: 60px;
  background-color: purple;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border: none;
  transition: .3s;
}



/*Preview Page*/

.previewPage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.previewPage .firstCol{
  height: 50vh;
  width: 100%;
  background-image: url('./pic/3.jpeg');
  background-size: cover;
  color: white;
  
}
.img{
  width: 400px;
  background-attachment: fixed;
}

.secondCol{
  padding: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}




}




.mainPage button{
  z-index: 999;
  position: absolute;
  left: 3rem;
  top: 32rem;
  width: 200px;
  height: 70px;
  background-color: purple;
  color: white;
  font-size: 40px;
  cursor: pointer;
  border: none;
  transition: .3s;
}

.mainPage button:hover{
  background-color: white;
  color: black;
}


.mainPage h1{
  position: relative;
  top: 300px;
  left: 50px;
  z-index: 999;
  font-size: 30px;
  color: white;
  width: 300px;
}

h1 span{
  color: red;
}




.classes{
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.classes .class{
  display: flex;
  justify-content: center;
  padding-left: 100px;
  

  border-top: solid black;
  margin-top: 30px;
  
}

.classes .class h3{
 width: 10rem ;
 font-size: 20px;
 
}

.classes .class button{
  position: relative;
  right: 50px;
  width: 100px;
  height: 30px;
  background-color: purple;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border: none;
  transition: .3s;
}




.classes .class button:hover{
  background-color: white;
  color: black;
}

.border{
  border-bottom: solid black;
  width: 98%;
}



@media only screen and (min-width: 1200px){

  
.previewPage{
  height: 100vh;
  display: grid;
  
  grid-template-columns: auto auto;
}

.previewPage .firstCol, .previewPage .secondCol{
  margin: 30px;
  height: 700px;
  width: 55rem;
}

.previewPage .firstCol{
 
  background-image: url("./pic/3.jpeg");
  background-size: contain;
  background-attachment: fixed;
  
}

.previewPage .secondCol{
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

.previewPage .secondCol p{
  width: 400px;
  color: white;
  font-size: 30px;
}
.previewPage .secondCol h1{
  color: white;
  margin-bottom: 30px;
  font-size: 60px;
}

.previewPage .secondCol span{
  color: red;
}




.mainPage{
  background-attachment: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1605296867304-46d5465a13f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
  background-size: cover;

}

/* .mainPage h1{
  position: relative;
  left: 100px;
  z-index: 999;
  font-size: 100px;
  color: white;
  width: 700px;
} */

.mainPage button{
  z-index: 999;
  position: relative;
  right: 33rem;
  top: 20rem;
  width: 300px;
  height: 100px;
  background-color: purple;
  color: white;
  font-size: 40px;
  cursor: pointer;
  border: none;
  transition: .3s;
}

.mainPage button:hover{
  background-color: white;
  color: black;
}



.classes{
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.classes .class{
  display: flex;
  justify-content: center;
  padding: 30px;
  

  border-top: solid black;
  margin-top: 30px;
  
}

.classes .class h3{
 width: 50rem ;
 font-size: 60px;
 
}

.classes .class button{
  width: 200px;
  height: 100px;
  background-color: purple;
  color: white;
  font-size: 40px;
  cursor: pointer;
  border: none;
  transition: .3s;
}




.classes .class button:hover{
  background-color: white;
  color: black;
}

.border{
  border-bottom: solid black;
  width: 98%;
}




.firstSection{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgb(255, 255, 255);
  font-size: 60px;
  background-attachment: fixed;
  background-image:  url("./pic/1.jpeg");
  background-color: brown;
  background-size: cover;
}

.secondSection{
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.secondSection h3{
  font-size: 80px;
  margin-bottom: 100px;
}

.secondSection form input {
  width: 300px;
  height: 70px;
  position: relative;
  bottom: 5px;
  padding: 30px;
  font-size: 20px;
}

.secondSection form button{

  
    width: 130px;
    height: 70px;
    background-color: purple;
    color: white;
    font-size: 35px;
    cursor: pointer;
    border: none;
    transition: .3s;

}

.secondSection form button:hover{
  background-color: rgb(140, 0, 196);
  color: rgb(255, 255, 255);
}



.navBar h3{
  position: relative;
  left: 90rem;
  cursor: pointer;
}

.navBar{
  position: fixed;
  z-index: 9999;
  top: 0;
  height: 100px;
  padding-bottom: 30px;
  background-color: rgb(32, 0, 32);
  color: white;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  width: 100%;
}

.navBar ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

}

.navBar ul li{
  margin-left: 50px;
  width: 100px;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  transition: .3s;
  text-decoration: none;
  color: white;
  
}

.navBar ul li:hover{
  color: rgb(128, 128, 128);
}


.individualPlan{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  width: 1300px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 30px;
  border-radius: 14px;
}

.radioBtns{
  font-size: 30px;
}

.lbl{
  position: relative;
  left:2px;
  
}

.mainPage h1{
  
  position: relative;
  top: -30px;
}

}